@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sacramento&display=swap%27');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FAF3DD;
    font-family: 'Montserrat', 'sans-serif';
    height: 100vh;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
#logoHeader {
    height:10vh;
}

/* Score Bar */
    /* USER */
    #scoreBarUser {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #avatarUser {
        transform: translateX(0.5rem);
    }
    #imgAvatarUser {
        background-color: #FAF3DD;
        border: 0.2rem solid #FFA69E;
        border-radius: 50%;
        max-height: 15vh;
    }
    #nameUser {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.8rem;
        background-color: #FFA69E;
        color: #fff;
        width : 40vw;
        height : 5vh;
    }
    #scoreUser {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 0.2rem solid #FFA69E;
        border-radius: 1rem;
        font-size: 3rem;
        color: #707070;
        width : 8vw;
        height : 10vh;
    }
    /* Computer */
    #scoreBarComputer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #avatarComputer {
        transform: translateX(-0.5rem);
    }
    #imgAvatarComputer {
        background-color: #FAF3DD;
        border: 0.2rem solid #AED9E0;
        border-radius: 50%;
        max-height: 15vh;
    }
    #nameComputer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.8rem;
        background-color: #AED9E0;
        color: #fff;
        width : 40vw;
        height : 5vh;
    }
    #scoreComputer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 0.2rem solid #AED9E0;
        border-radius: 1rem;
        font-size: 3rem;
        color: #707070;
        width : 8vw;
        height : 10vh;
    }

/* Zone de Jeux */
#zoneGame {
    margin-top: 2rem;
}
    /* Text jeux */
    .textHand {
        display: flex;
        flex-direction: column;
        color: #707070;
        font-size: 1.2rem;
    }
    #game {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* User */
    .handGame.user {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 0.5rem solid #707070;
        border-radius: 2rem;
    }
    .iconSheetUser, .iconCisorUser {
        transform: rotate(90deg);
        height: 15vh;
        width: 8vw;
        cursor: pointer;
    }
    .iconStoneUser {
        transform: rotate(90deg);
        height: 13vh;
        width: 8vw;
        margin-left: 1rem;
        cursor: pointer;
    }
    /* .iconStoneUser:hover {
        animation: deplacement 1s linear;
    }
    @keyframes deplacement {
        from {
            transform : rotate(90deg) translateY(0);
        }
        to {
            transform : rotate(90deg) translateY(-200px);
        }
    } */


    /* Tapis de Jeux */
    #playMat {
        display: flex;
        justify-content:center;
    }
    .playMat {
        height: 50vh;
        width: 80%;
        border: 0.8rem solid #FFA69E;
        border-radius: 4rem;
    }
    .inGame {
        display : flex;
        align-items: center;
        height: 100%;
    }

    #feuilleUser, #feuilleComputer, #pierreUser, #pierreComputer,#ciseauxUser, #ciseauxComputer {
        display: none;
        justify-content: center;
    }

    /* #feuilleUser, #ciseauxComputer {
        display : flex;
    } */
        /* Partie User */
        #feuilleUser>img, #pierreUser>img, #ciseauxUser>img {
            transform: rotate(90deg);
            height: 22vh;
        }
        .active {
            display: flex;
        }

        /* Partie Computer */
        #feuilleComputer>img, #pierreComputer>img, #ciseauxComputer>img {
            transform: rotate(-90deg);
            height: 22vh;
        }

    /* Computer */
    .handGame.computer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 0.5rem solid #707070;
        border-radius: 2rem;
    }
    .iconSheetComputer, .iconCisorComputer {
        transform: rotate(-90deg);
        height: 15vh;
        width: 8vw;
        margin-right: 1rem;
        cursor: pointer;
    }
    .iconStoneComputer {
        transform: rotate(-90deg);
        height: 13vh;
        width: 8vw;
        cursor: pointer;
    }

    @media screen and (max-width: 992px) {
        /* Header */
        header {
            padding: 0.3rem;
        }
        #logoHeader {
            height:7vh;
        }
        /* Score Bar */
            /* User */
            #scoreBarUser {
                justify-content: center;
            }
            #imgAvatarUser {
                max-height: 12vh;
            }
            #scoreUser {
                font-size: 2rem;
                width : 15vw;
                height : 10vh;
            }
            /* Computer */
            #scoreBarComputer {
                position: fixed;
                bottom: 1rem;
                justify-content: center;
            }
            #imgAvatarComputer {
                max-height: 12vh;
            }
            #scoreComputer {
                font-size: 2rem;
                width : 15vw;
                height : 10vh;
            }
        /* Zone de jeux */
        #zoneGame {
            margin-top: 0;
        }
        .textHand {
            display: none;
        }
        /* Main User */
        .handGame.user {
            flex-direction: row;
            border: 0.2rem solid #707070;

        }
        .iconSheetUser, .iconCisorUser {
            transform: rotate(180deg);
            height: 15vh;
            width: 8vw;
        }
        .iconStoneUser {
            transform: rotate(180deg);
            height: 13vh;
            width: 10vw;
        }
        /* Main Computer */
        .handGame.computer {
            flex-direction: row;
            border: 0.2rem solid #707070;
        }
        .iconSheetComputer, .iconCisorComputer {
            transform: rotate(0deg);
            height: 15vh;
            width: 8vw;
            margin-right: 1rem;
        }
        .iconStoneComputer {
            transform: rotate(0deg);
            height: 13vh;
            width: 8vw;
        }
        /* Tapis de jeux */
        .playMat {
            height: 30vh;
            width: 100%;
            border: 0.5rem solid #FFA69E;
            margin-top: 0.7rem;
            margin-bottom: 0.7rem;
        }
        /* Partie User */
        #feuilleUser>img, #pierreUser>img, #ciseauxUser>img {
            transform: rotate(180deg);
        }
        /* Partie Computer */
        #feuilleComputer>img, #pierreComputer>img, #ciseauxComputer>img {
            transform: rotate(0deg);
        }
    }
    

/* Modal */
.mm-modal {
    position : fixed;
    top: 36.5vh;
    left: 34vw;
    height: 50vh;
    width: 32vw;
    border-radius: 4rem;
    background-color: #fff;
    background-size: contain;
    opacity: 0.8;
    padding: 4rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* Win */
.mm-modal.win {
    background-image: url(/assets/img/pouce_win.png);
    display: none;
}
/* Loose */
.mm-modal.loose {
    background-image: url(/assets/img/pouce_loose.png);
    display: none;
}