@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sacramento&display=swap%27');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B8F2E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

/* logoImg */

#logo {
    max-width: 14vw;
    margin: 0 auto;
}

/* règles du jeu */
.accordion-body {
    position: absolute;
    left: 0;
    horizontal-align: middle;
    border: solid #ffa69e;
    border-radius: 10px;
    z-index: 99;
    background: #ffcdc8ed;
    display: flex;
    margin: auto;
    font-size: 13px;
    width: 23vw;
    padding: 0.5rem 1rem;
    flex-direction: column;
}

div#flush-headingOne {
    text-align: -webkit-center;
}

.accordion-header {
    position: relative;
    margin-top: 15px;
}

.accordion-button:not(.collapsed) {
    position: relative;
    z-index: 5;
    color: #707070;
    font-weight: bold;
    background-color: #fff;
    border:2px solid #ffa69e;
    border-radius: 10px;
    padding: 3px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
button.accordion-button.collapsed {
    color: #707070;
    font-weight: bold;
    border:2px solid #ffa69e;
    border-radius: 50px;
    padding: 3px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 265px;
}

.accordion-button:not(.collapsed) {
    color: #707070;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    width: 265px;
}

button.accordion-button.collapsed:active {
    -webkit-box-shadow: 0px 1px 0px #FFA69E;
    -moz-box-shadow: 0px 1px 0px #FFA69E;
    box-shadow: 0px 1px 0px #FFA69E;
}

.accordion-flush .accordion-item {
    width: 15vw;
    padding: 3px;
    color: #707070;
    align-items: center;
    background: #ffa69e;
    border-radius: 50px;
}


.accordion-button {
    display: flex;
    text-align: left;
    align-items: center;
    width: 15vw;
    padding: 1rem 1.25rem;
    color: #707070;
    background: #ffa69e;
    background-color: #fff;
    border: 1 solid #ffa69e;
    border-radius: 50px;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-button::after {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #ffa69e;
    outline: 0;
    box-shadow: 0 0 0 0 #ffa69e;
}

/* container du centre (formulaire) */

.PageLogin {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
}


/* input pseudo */

.choosePseudo,.chooseAvatar {
    font-weight: bold;
    color: #707070;
}
#choosePseudo {
    margin: 0;
    font-size: 1rem;
    line-height: inherit;
    padding: 3px;
    text-align: center;
    width: 265px;
}
        

/* choisir avatar */


.chooseAvatar label,.choosePseudo label {
    margin-top: 35px;
    margin-bottom: 8px;
}

#ok {
    margin-top: 35px;
}



#choosePseudo {
    border: 2px solid #FFA69E;
    border-radius: 20px;
}

#woman1,#woman4,#man1 {
    z-index: 1;
}
#woman2,#man2  {
    z-index: 2;
}
#man3{
    z-index: 3;
}

.listAvatar {
        display: flex;
        margin: 0px auto;
        justify-content: center;
        flex-wrap: wrap;
}

.avatar {
    display: flex;
    height: 110px;
    flex-direction: row;
    margin: 0px -14px;
    transition: all 1s ease-in-out 0.2s;
    widows: 25px 25px 50px 0 rgba(255, 255, 255, 0) inset, -25px -25px 50px 0 rgba(255, 255, 255, 0) inset; 
}

.avatar:hover {
    display : flex;
    height: 140px;
    flex-direction: row;
    margin: -20px 10px;
    transition: all 0.6s;
    border-radius: 20px;
}

.avatar.active {
    display : flex;
    height: 200px;
    flex-direction: row;
    margin: -60px 10px;
    transition: all 0.6s;
    border-radius: 20px;
    z-index: 5;
}


/* bouton GO */

#ok {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    background-color: #FFA69E;
    color: #fff;
    border: 1px solid #d97062;
    border-radius: 50%;
    font-weight: 400;
    height: 5rem;
    width: 5rem;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 1s;
    -webkit-box-shadow: 0px 7px 0px #feb3ac;
    -moz-box-shadow: 0px 7px 0px #feb3ac;
    box-shadow: 0px 7px 0px #feb3ac;
}

#ok:active {
    -webkit-box-shadow: 0px 1px 0px #FFA69E;
    -moz-box-shadow: 0px 1px 0px #FFA69E;
    box-shadow: 0px 1px 0px #FFA69E;
}

/* alertes */
.alert {
    position: relative;
    display: none;
    padding: 6px 15px;
    margin-bottom: 2px;
    border-radius: 3.25rem;
    background-color: #fff3cd;
    color: #707070;
    -webkit-box-shadow: 0px 5px 0px #ffffff;
    -moz-box-shadow: 0px 5px 0px #ffffff;
    box-shadow: 0px 5px 0px #ffffff;
    top: -60px;
}


/* pour faire tourner les mains */

.img-circle-hands {
    width: 50%;
    object-fit: cover;   
    animation: animate 120s 1 linear; 
    transition: all 1s;
}


@keyframes animate {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(260deg);
    }
}



/* ipad */
@media screen and (min-width: 768px) and (max-width: 1500px) {

    .img-circle-hands {
        width: 100%;
        object-fit: cover;
    }
}


/* mobile */
@media screen and (max-width: 768px) {

* {
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    font-size: 14px;
}

.img-circle-hands {
    width: 170%;
    object-fit: cover;   
}

#logo {
    max-width: 45vw;
}

.accordion-body {
    width: 70vw;
    font-size: 12px;
}

.accordion-button:not(.collapsed) {
    font-size: inherit;
}


/* container du centre (formulaire) */


.PageLogin {
    z-index: 1;
}

/* input pseudo */

.choosePseudo,.chooseAvatar {
    font-weight: bold;
    color: #707070;
}

.choosePseudo label,.chooseAvatar label {
    margin-top: 40px;
}

#choosePseudo {
    /* line-height: 2vh; */
    text-align: center;
    border: 0.1rem solid #FFA69E;
    border-radius: 20px;
}

#ok {
    font-size: 15px;
    font-weight: 400;
    padding: 5px 5px;
    height: 3.5rem;
    width: 3.5rem;
}

}