@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sacramento&display=swap%27');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B8F2E6;
    font-family: 'Montserrat', 'sans-serif';
    height: 100vh;
}

/* container du centre (formulaire) */

.PageLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
#logoHeader {
    height:16vh;
}



/* input pseudo */


#choosePseudo {
    margin: 0;
    /* font-family: inherit;
    font-size: inherit;
    line-height: inherit; */
    padding: 3px;
    text-align: center;
}
        

/* choisir avatar */


.chooseAvatar label,.choosePseudo,#ok {
    margin-top: 40px;
    margin-bottom: 20px;
}

#choosePseudo {
    border: 0.1rem solid #FFA69E;
    border-radius: 20px;
}

.listAvatar {
    display: flex;
    /* margin: 15px auto; */
}

.avatar {
    display : flex;
    height: 130px;
    flex-direction: row;
    margin: 0 -18px;
    transition: all 0.7s;
}

.avatar:hover {
    display : flex;
    height: 150px;
    flex-direction: row;
    margin: -10px 18px;
    transition: all 0.7s;
}

.avatar.active {
    display : flex;
    height: 150px;
    flex-direction: row;
    margin: -10px 18px;
    transition: all 0.7s;
}


/* bouton GO */

#ok {
    font-size : auto;
    background-color: #FFA69E;
    color: #fff;
    border: 0px solid #fff;
    border-radius: 50%;
    font-weight: 400;
    height: 5rem;
    width: 5rem;
}
